body{
    padding: 0;
    margin: 0;
}
.sign{
background-image: url('../Image/back.jpg');
background-size: cover;
background-repeat: no-repeat;


  
    height:800px;
 

}
.login{
    text-align: center;
    color: #fff;
    font-family: cursive;
    font-size: 25px;
    padding-top: 70px;
}

label{
    padding-left: 15%;
    padding-bottom: 45px;
    color: #fff;
}
.from{

    border: 1px solid #fff;
    width: 40%;
 
    margin-left: 35%;
    padding: 80px 40p;
    height:490px;
  
}
.from input{
    display: block;
    padding: 5px 100px;
    margin-bottom: 3%;
    margin-left: 15%;
    text-align: left;
    border: #fff solid 1px;
   border-radius: inherit;
   margin-bottom: 20px;
padding-top: 20px;
padding-bottom: 20px;
   

 
}

.form-desgin{
    padding-top: 50px;
    padding-bottom: 50px;
     border: 1px solid #ddd;
 }
.from button{
    background-color: darkgreen;
    border: none;
    border-radius: 24px;
    padding: 20px 40px;
    color: #fff;
    color: #fff;
  margin-left: 15%;


}
.from button:hover{
    background-color: #188609;
    color: #fff;
}