* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../Image/back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
  opacity: .9;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  width: 93%;
}
.ihsan-logo {
  font-family: cursive;
  color: darkgreen;
  text-indent: 10px;
}
.site-header__wrapper {
  display: flex;
  align-items: center;
}
.nav-bar {
  display: flex;
  justify-content: space-around;
}
.btn-sign {
  background-color: darkgreen;
  border: none;
  border-radius: 24px;
  text-decoration: none;
  padding: 10px 20px;
  color: #fff;
  color: #fff;
  margin-right: 15px;
}
.btn-sign:hover {
    background: #9e9e9ea6;
    color: darkgreen; 
    transform: scale(1.1);
}
  
.image {
  width: 50px;
}
.overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  color: #fff;
  width: 100%;
  height: 55vh;
  text-align: center;
  margin-top: 10vh;
}
.title {
  color: #fff;
  font-family: cursive;
  font-size: 45px;
}
.discration {
  color: #fff;
  font-family: cursive;
  font-size: 19px;
  line-height: 25px;
}
.btn-donate {
  background-color: rgb(196, 255, 196);
  border: none;
  border-radius: 24px;
  cursor: pointer;
  padding: 20px;
  color: darkgreen;
  font-weight: 600;
  border: 2px solid rgb(180, 248, 180);
  box-shadow: 1px 1px 5px 2px #595f59;
  transition: .2s all;
}
.btn-donate:hover {
     transform: translateY(-5px);
    box-shadow: 1px 1px 10px 8px #4c7d4ec4;
}
    
